{% extends 'base.html' %}

{% load disqus_tags %}
{% disqus_dev %}

{% block content %}
<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-4 mt-3 left top">
        <div class="card-body">
          <h1 class="card-title">{{ post.title }}</h1>
          {% if post.post_image %}
          <img src="{{ post.post_image.url }}" class="card-img-top">
          {% else %}
          {% endif %}
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text ">{{ object.content | safe }}</p>
        </div>
      </div>
      
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/arthurkozielsblog/embed.js"></script>
    <noscript><p><a href="http://arthurkozielsblog.disqus.com/?url=ref">View the discussion thread.</a></p></noscript>
    <p><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a></p>
  </div>
  
  
</div> <!-- //wrapper -->


{% endblock %}

